SecurityAnnotationsS5/obj
es5conform
SecurityAnnotationsS5/src/es5.b.byte
SecurityAnnotationsS5/src/s5.d.byte


SecurityAnnotationsS5/*.swp
SecurityAnnotationsS5/tests/*.swp
SecurityAnnotationsS5/tests/unit-tests/*.swp
SecurityAnnotationsS5/src/*.swp
SecurityAnnotationsS5/tests/test262/test262/
SecurityAnnotationsS5/tests/test262/results*
SecurityAnnotationsS5/tests/ses/es-lab-read-only/
SecurityAnnotationsS5/tests/sym/harness/*/*.es5.result
SecurityAnnotationsS5/tests/init.heap

SecurityAnnotationsS5/build/
*~
*#
SecurityAnnotationsS5/src/_build/

*.tgz
*.tar.gz
*.pyc

SecurityAnnotationsS5/lib/graph.a
SecurityAnnotationsS5/lib/graph.cma
SecurityAnnotationsS5/lib/graph.cmi
SecurityAnnotationsS5/lib/graph.cmo
SecurityAnnotationsS5/lib/graph.cmx
SecurityAnnotationsS5/lib/graph.cmxa
SecurityAnnotationsS5/lib/graph.o

*.cmi
*.annot
*.o
*.cmx
*.cmo
*.a

SecurityAnnotationsS5/src/ocamlgraph-1.8.1/META
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/Makefile
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/config.log
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/config.status
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/graph.cma
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/graph.cmxa
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/dot_lexer.ml
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/dot_parser.ml
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/dot_parser.mli
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/dot_parser.output
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/gml.ml
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/src/version.ml
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/.depend
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/configure
SecurityAnnotationsS5/src/ocamlgraph-1.8.1/autom4te.cache/

Tropigate/bin/
Tropigate/node_modules/
Tropigate/temp_build/
Tropigate/obj/
Tropigate/obj-test/
Tropigate/middleware/z3_modified/bin/external/
*_jalangi_*.js*
*.d
*.o
*.dylib
*.a
*configure
*config.log
*config.status
*autom4te.cache
*lib.srcs
*shell.srcs
*npm-debug.log
*DS_Store
*paper.synctex.gz
*.aux
*.log
*.pdf
z3.emscripten.js.mem
